flask>=2.3.3
numpy>=1.25.0
torch>=2.0.0
transformers>=4.30.0
scipy>=1.10.0
python-dotenv>=1.0.0
pandas>=2.0.0
pygame>=2.5.0
requests>=2.28.0
Werkzeug>=2.3.6     
sounddevice>=0.4.6
librosa>=0.10.0
timecode>=1.0.6
pydub>=0.25.1
accelerate>=0.20.0
